[is='editable-shape'] {
	display: inline-block;
	padding: 4px;
	margin: 0;
	border: solid 1px #A0A0A0;
}

[is='editable-shape'][data-is-open='true'] .minFretInput {
	display: none;
}

.fretInput {
	width: 23px;
}

.rangeContainer {
	margin-bottom: 3px;
}

.shapeTypeSelect {
	width: 60px;
}

.minFretContainer, .shapeTypeSelect {
	margin-top: 3px;
}

.minFretLabel {
	margin-right: 5px;
}

.minFretInput {
    -moz-appearance:textfield;
}

.shapeMinFret {
	width: 23px;
}

.shapeRangeDisplay {
	display: inline-block;
	margin: 0 auto;
	font-family: monospace;
}

.stringLabel {
	font-weight: bold;
}

[is='finger-select']:disabled {
	background-color: #A0A0A0;
	color: transparent;
}

.editShapeButtonRow div:not(:last-child) {
	margin-bottom: 5px;
}

.editShapeEditButton {
	margin-right: 10px;
}

.editShapeButtonRow button:not(:last-child),
.editShapeButtonRow div button:not(:last-child) {
	margin-right: 5px;
}