.importExportContainer.sectionContainer {
	padding-top: 0px;
}

.searchTable {
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 5px;
}

.editShapesSearchForShapeMessage {
	font-style: italic;
	display: block;
}

.editShapesResultsContainer[data-is-empty='false'] .editShapesSearchForShapeMessage {
	display: none;
}